# Database Configuration
DATABASE_URL=

# Redis Configuration
REDIS_PORT=
REDIS_HOST=

# Backend Configuration
JWT_SECRET=
REDIS_HOST=
WORKER_SERVICE_JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
FRONTEND_URL=
RESEND_API_KEY=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=

CDN_BASE_URL="https://cdn.krishlabs.tech"


# Frontend Configuration
VITE_BACKEND_URL=

# Worker Configuration
EDITOR_WORKER_CONCURRENCY=
MERGER_WORKER_CONCURRENCY=
TRANSCODER_CONCURRENCY=

# WebSocket Relayer Configuration
WS_RELAYER_PORT=

# AWS S3 Configuration (if using remote storage)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
